


* {margin: 0;
   padding: 0;}

@media screen and (max-width: 767px)

{

/* Header */

.logo {width: 96px;
       margin-top: 30px;
       margin-left: 24px;}

.try {float: right;
      margin-top: 22px;
      font-size: 14px;
      margin-right: 24px;
      color: hsl(322, 100%, 66%);
      border-radius: 100px;
      border: 1px solid hsl(322, 100%, 66%);
      padding: 8px 18px;}

/* Section-a */

.intro-wrapper {display: flex;
                flex-flow: column nowrap;
                align-items: center;}

.section-a__h {margin-top: 128px;
               text-align: center;
               margin-bottom: 36px;}

.section-a__p {text-align: center;
               width: 77.78%;
               margin-bottom: 50px;
               }

.section-a__btn {padding: 16px 40px;
                 color: white;
                 background-color: hsl(322, 100%, 66%);
                 box-shadow: 0 7px 5px hsla(192, 100%, 9%,0.2);
                 border: none;
                 border-radius: 25px;
                 margin-bottom: 104px;}

.mockups {width: 297px;
          margin-bottom: 159px;}

.mockups-wrapper {display: flex;
                  justify-content: center;}


/* Section-b */

.section-b {display: flex;
            flex-flow: column nowrap;
            align-items: center;}

.communities {width: 29px;
              margin-bottom: 21px;}

.messages {width: 22px;
           margin-bottom: 21px;}

.communities__n,
.messages__n {font-size: 56px;
              margin-bottom: 26px;}

.communities__p {margin-bottom: 101px;}

.messages__p {text-align: center;
              margin-bottom: 33px;}

/* Section-c */

.two,
.three,
.four {width: 244px;}

.bg-top1 {background-image: url(../img/bg-section-top-mobile-1.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          height: 90px;}

.two {margin-bottom: 84px;
      margin-top: 99px;}

.section-c__two-wrapper__h {margin-bottom: 27px;}

.section-c__two-wrapper__p {margin-bottom: 72px;
                            width: 81.6%;
                            text-align: center;}

.two-wrapper {display: flex;
              flex-flow: column nowrap;
              align-items: center;
              background-color: hsl(207, 100%, 98%);}


.bg-bottom1 {background-image: url(../img/bg-section-bottom-mobile-1.svg);
             background-size: 100% 100%;
             background-repeat: no-repeat;
             background-position: center;
             height: 90px;
             margin-bottom: 143px;}

.four-wrapper {display: flex;
                flex-flow: column nowrap;
                align-items: center;}

.four {margin-bottom: 96px;
       margin-bottom: 122.3px;}

.section-c__four-wrapper__h {margin-bottom: 27px;
                             margin-bottom: 21.7px;}

.section-c__four-wrapper__p {margin-bottom: 72px;
                             width: 81.6%;
                             text-align: center;}

.bg-top2 {background-image: url(../img/bg-section-top-mobile-2.svg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          height: 90px;}

.three {margin-bottom: 84px;
        margin-top: 99px;}

.section-c__three-wrapper__h {margin-bottom: 27px;}

.section-c__three-wrapper__p {margin-bottom: 72px;
                              width: 81.6%;
                              text-align: center;}

.three-wrapper {display: flex;
              flex-flow: column nowrap;
              align-items: center;
              background-color: hsl(207, 100%, 98%);}


.bg-bottom2 {background-image: url(../img/bg-section-bottom-mobile-2.svg);
             background-size: 100% 100%;
             background-repeat: no-repeat;
             background-position: center;
             height: 90px;
             margin-bottom: 143px;}




































}
